
<div class='nav-format'>
  <div class='row'>
    <div class='col-md-12'>
      <img src="http://www.electronicproducts.com/uploadedImages/Computer_Systems/Standalone_Mobile/Gas%20station.jpg" class='img-rounded' alt="Gas Station Image" style="width:900px;height:500px">
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Gas Station Finder website!</h1>
    <p>The Gas Station Finder retrieves distance in miles radius of near by gas stations according to a user's geo location. You will need to provide the zip code from the mobile device or browser.  Sign-In or Sign-Up to start searching for gas stations.</p>
    <a href="/users/sign_in" class="btn btn-info btn-lg">Sign-In</a>
    <a href="/users/sign_up" class="btn btn-info btn-lg">Sign-Up</a>
  </div>


