<p id="notice"><%= notice %></p>

<h1 class='car-maintenance-title'>Car Maintenance Tips</h1>

    <% @maintenances.each do |maintenance| %>
        <p><%= image_tag(maintenance.image, class: 'tire-pressure') %>
        <h3><%= maintenance.title %></h3></p>
        <p><%= maintenance.description %></p>
    <% end %>

    <br>

<br>


