    @import 'bootstrap-sprockets';
    @import 'bootstrap';

.nav-format {
  text-align: center;
}

.header-format {
  text-align: center;
}

.gas-station-finder-height {
  text-height: 50px;
}

body {
  font-family: inherit;
  background-color: #eeeeee;
}

.center div {
    text-align: center;
}
